body {
    margin: 0;
    min-height: 100vh;
    background-image: url("/xx.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: system-ui, sans-serif;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 30px;            
    background-color: rgba(63, 63, 63, 0.686);
    backdrop-filter: blur(14px); 
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255,255,255,0.273);
    border-radius: 12px;
    width: 1000px;
    height: 600px;
    box-sizing: border-box;
}

.content {
    width: 100%;
    flex: 1;
    overflow-y: auto;
}

.inputBox {
    display: flex;
    width: 100%;
    max-width: 900px; 
    gap: 10px;
}

.inputBox input {
    flex: 1;
    height: 60px;
    border-radius: 10px;
    border: 1.5px solid rgba(255,255,255,0.2);
    background: rgba(118, 118, 118, 0.482);
    color: white;
    font-size: 15px;
    outline: none;
    padding-left: 10px;
}

.inputBox button {
    height: 65px;
    width: 65px;
    border-radius: 10px;
    font-size: 25px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.inputBox button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
