body {
    margin: 0;
    min-height: 100vh;
    background-image: url("../xx.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: system-ui, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    background-color: rgba(63, 63, 63, 0.686);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.273);
    border-radius: 12px;
    width: 500px;
    max-width: 90%;
    box-sizing: border-box;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-size: 50px;
    font-weight: 650;
    margin-left: 1rem;
    letter-spacing: 1px;
    user-select: none;
}

.icon {
    width: 100px;
    height: 100px;
    user-select: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    gap: 30px;
    width: 90%;
}

.grid-btn {
    padding: 25px;
    border-radius: 8px;
    border: 1.5px solid rgba(255,255,255,0.2);
    background: rgba(118, 118, 118, 0.482);
    color: white;
    height: 25px;
    width: 25px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}

.grid-btn:hover {
    background: rgba(175, 175, 175, 0.342);
    border: 1.5px solid rgba(255,255,255,0.345);
}


