body {
    margin: 0;
    min-height: 100vh;
    font-family: system-ui, sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body::before, body::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.8s ease-in-out;
    pointer-events: none;
    opacity: 0;
}

body::before { background-image: url("../dia.png"); opacity: 1; }
body::after { background-image: url("../noite.png"); }
body.noite::before { opacity: 0; }
body.noite::after { opacity: 1; }

html.noite body::before { opacity: 0 !important; }
html.noite body::after { opacity: 1 !important; }
html.dia body::before { opacity: 1 !important; }
html.dia body::after { opacity: 0 !important; }

.frame {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: rgba(63, 63, 63, 0.686);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.273);
    border-radius: 12px;
    width: 500px;
    max-width: 90%;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-size: 50px;
    font-weight: 650;
    margin-left: 1rem;
    letter-spacing: 1px;
    user-select: none;
}

.icon {
    width: 100px;
    height: 100px;
    user-select: none;
}

.input-chat {   
    font-weight: 100;
    font-family: sans-serif;
    border-radius: 5px;
    border: 1.5px solid rgba(255,255,255,0.2);
    background: rgba(118, 118, 118, 0.482);
    color: rgb(255, 255, 255);
    font-size: 15px;
    outline: none;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    resize: none;
} 

.description {
    text-align: top;
    min-height: 80px;
    max-height: 100px;
}

h3 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 30000;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: right;
}

#cancel {
    border-width: 1px;
    border-color: #b1b1b1a0;
    background-color: rgba(220, 220, 220, 0.189);
    border-radius: 5px;
    color: rgb(208, 208, 208);
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 200;
    padding: 10px 20px;
    cursor: pointer;
}

#enter {
    border-width: 1px;
    border-color: #b1b1b1a0;
    background-color: rgba(183, 255, 175, 0.407);
    border-radius: 5px;
    color: rgb(208, 208, 208);
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 10px 20px;
    cursor: pointer;
}